.breakf{
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 38px;
  font-weight: bolder;
  vertical-align: top;
  display: flex;
  align-items: center;
  background-color: #595959;
  color: white;
  height: 170px;
  justify-content: center;
}

.img{
    height: 200px;
    margin-left: 7%;
    margin-top: 8%;
}
.img:hover{
  transform: scale(
        0.9)
}